.title-pg {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}

.edit {
    background: #d6347d;
}

.delete {
    background: #ea7fa1;
}

.actions {
    padding: 6px;
    color: #FFF;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 2px;
}

.actions:hover {
    text-decoration: none;
    color: #f1526d;
}

.btn-add {
    margin-bottom: 10px
}